.weaponcard {
    display: flex;
    flex-direction: column;
}

.weaponcard_body {
    height: 200px;
    background-color: rgba(157, 121, 180, 0.137);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 2px var(--black);
    border-right: solid 2px var(--black);
    border-left: solid 2px var(--black);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.weaponcard_icon {
    max-width: 20rem;
    max-height: 100px;
}

.weaponcard_footer {
    background-color: var(--black);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--white);
}

.weaponcard_footer > .weapon_name {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--white);
    text-align: center;
    padding: 10px;
}
