.mapcard {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.mapcard_main {
    height: 400px;
}

.mapcard_background {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
    border-top: 2px solid var(--black);
}

.mapcard_footer {
    background-color: var(--black);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

.mapcard_footer > .map_name {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--white);
    text-align: center;
    padding: 10px;
}
